<div>
  <div class="modal-header">
    <a ui-sref="map" class="close" class="btn" data-dismiss="modal" aria-hidden="true">&times</a>
    <h3>About the Carbon Map</h3>
  </div>
  <div class="modal-body">
    <p>This map represents the Kingston Student Housing Co-operative's electricity consumption. It depicts the weekly change in usage at each building and within the context of the other co-op houses. The map seeks to raise awareness of energy consumption for our members and the broader community. It is one more step in our commitment to reducing energy consumption and provides our members with feedback to explore how their actions impact household consumption. </p>

<p>In addition to household performance, we are able to monitor the performance for our entire organization as we strive to reduce our impact on the environment. The Kingston Student Housing Co-operative began implementing energy efficiency initiatives in 2005 and has since strengthened its focus on conservation. The cooperative has invested in energy efficiency measures and encouraged behavioral changes which has drastically reduced our organization's impact on the environment. Feel free to follow our progress as we strive to create a better planet.</p>
  </div>
</div>