
   <section ng-id="{{ building.id }}" class="{{ building.colour }} buildingFeature">



          <div class="building">

          <a class="close" ui-sref="map.view">x</a>

          <h6>
            <a ng-href="{{ building.url }}"><span class="glyphicon glyphicon-map-marker">	
            </span>{{ building.address.streetNumber }} {{ building.address.streetName}}</a><br />

            
          </h6>

          <div class="buildingBackground" style="background:url({{ building.imageLarge }}); background-size:cover">
            <div class="buildingOverlay">

              <!-- <output>{{ building.savings.lastMonth }}<sup>%</sup></output> -->



              <a ng-href="{{ building.url }}"><img width="100%" height="auto" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNg+M9QDwADgQF/e5IkGQAAAABJRU5ErkJggg==" /></a>
            </div>
          </div>
          
           <br style="clear:both" />
          
          <p><b>WEEKLY SAVINGS: <span ng-class="{ buildingRed: building.savings.lastMonth < 0, buildingGreen: building.savings.lastMonth > 0 }"> {{ building.savings.lastMonth }}</span></b><small>%</small><br />{{ building.description }}</p>
          

          
          
         
          
        </section>

	
	

	

