<div>
  <div class="modal-header">
    <a ui-sref="map" class="close" class="btn" data-dismiss="modal" aria-hidden="true">&times</a>
    <h3>What Is Carbon Savings?</h3>
  </div>
  <div class="modal-body">
    <p>Carbon Savings designs and builds software that can help people lower their energy bills. We have supported a range of services including monitoring household energy consumption, created calculators to select the most cost effective product and offered energy reports to landlords. We believe there is huge potential to help the environment by aligning energy efficiency projects with cost savings. For more information visit <a href="://carbonsavings.ca" target="_blank">CarbonSavings.ca</a>.</p>
  </div>
</div>

<script type="text/javascript">
	
	jQuery('.navbar').removeClass('in');

</script>