

<div class="row">
  <div class="col-sm-3">

    <div class="row">
      <img class="col-xs-10 col-xs-push-1" src="../images/logoKingstonHousing.png"> 
    </div>

    <div class="row">
        <div class="btn btn-success circle large col-sm-6"><img width="100%" height="auto" title="" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />

        <span>8</span>
        </div>
    </div>

    <div class="row">

      <div class="col-sm-4" ng-repeat="building in buildings | orderBy:'id' | limitTo:2">
        
        <h5>{{ building.name }}</h5>

        <img src="building.imageThumbnail" />

        <output>{{ building.savings.fiveYear }}</output>
        <output>{{ building.savings.lastMonth }}</output>

        <a href="/building/{{ building.id }}">View Details &raquo;</a>

      </div>



    </div>
  



  </div>

  <div class="col-sm-9">
    
   <div class="row" id="intro">
    <h1>The Kingston Co-Op Energy Map</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
    </div>

    <div class="row" id="map">


      <img src="images/map.png" class="col-sm-12">
    </div>

 

  </div>

<div>






